.headerContainer {
  width: 100%;
  min-height: min(60vw, 720px);
  overflow: hidden;
  position: relative;
  max-height: 720px;
}

.headerContainer img {
  object-fit: cover;
  overflow: hidden;
}
.textContainer {
  width: 100vw;
  position: absolute;
  top: 0;
}
.textSupporter {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
}
